$pink: #d46ce7
$blue: #89aee1
$purple:#7837eb

#header
  background-color: 	#AED9E0

#title
  color: #5E6472



#quiz_section
  background: #5E6472
  div
    h2
      color: #B8F2E6
  form
    p
      color: #FAF3DD
